<div ng-controller="NewListCtrl">
  <div class="new-list-header">
    <h2>Create a New Movie List</h2>
  </div>
  <form novalidate class="new-list-form" ng-submit="searchImdb(searchText)">
    <label>List Name: <input type="text" ng-model="user.name" /></label><br />
    <div class="add-movies">
      <div class="form-header">Seach IMDb and Add Movies</div>
      <label>Title: <input type="text" ng-model="searchText" /></label>
      <input class="search-button" type="submit"  value="Search" />

      <ul class="add-list" ng-if="movie.Poster">
        <li>
          <div class="search-results">
            <img class="resize" src="{{ movie.Poster }}" ><br />
            <div class="movie-info">
              <h2>{{ movie.Title }}</h2>
              <h4>{{ movie.Year }}</h4>
              <h4>({{ movie.Rated }})</h4><br />
              <h4>{{ movie.Actors }}</h4>
              <h4>{{ movie.Genre }}</h4>
              <div class="add-button">
                <input type="button" ng-click="addMovie()" value="Add" />
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </form>
</div>
<!-- title, year of release, movie poster [if applicable], genre, etc. -->
