/* app css stylesheet */
html * {
  font-family: Arial !important;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  padding: 0 0 0.5em;
}

.menu > li {
  display: inline;
}

.new-list-header {
  border-bottom: 1px solid #e8e8e8;
  margin: 5px 0;
}

.new-list-form {
  background-color: #fafafa;
  border: 1px solid #e8e8e8;
  padding: 15px;
}

.new-list-form input {
  padding: 7px;
}

.add-movies {
  /*border: 1px solid black;
  border-radius: 3px;*/
  margin-top: 5px;
  padding: 5px;
}

.form-header {
  border-bottom: 1px solid #e8e8e8;
  font-size: 18px;
  font-weight: 300;
  margin: 10px 0;
  padding: 5px 0;
}

.new-movie {
  margin: 5px 0;
}

.search-results {
  display: flex;
}

.movie-info {
  padding: 2px 10px;
}

ul.add-list, ul.current-list, ul.lists {
  list-style: none;
}

img.search-size {
  float: left;
  height: 15%;
  width: 15%;
}

img.list-size {
  height: 2%;
  width: 2%;
}

input[type=submit].search-button  {
  background-color: #008cba;
  border: 1px solid transparent;
  color: #ffffff;
  padding: 8px;
}

input[type=submit].search-button:hover {
  color: #ffffff;
  background-color: #006687;
  border-color: #004b63;
  cursor: pointer;
}

.add-button {
  margin: 5px 0;
}
input[type=button].add-button  {
  background-color: #5fba7d;
  border: 1px solid transparent;
  color: #ffffff;
  padding: 8px;
}

input[type=button]:hover.add-button {
  color: #ffffff;
  background-color: #54a56e;
  cursor: pointer;
}

.current-list, .lists {
  border: 1px solid #e8e8e8;
  max-height: 425px;
  margin: 10px 0;
  overflow-y: scroll;
  padding: 5px;
}

.lists li:hover {
  cursor: pointer;
  background-color: #eaeaea;
}
